<div class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-popup">
        <div class="modal-close">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="modal-grid">
            <div class="modal-image">
                <img src="https://unsplash.com/photos/SwHvzwEzCfA/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjcyODI5MTg5&force=true&w=640" alt="calendar">
            </div>
            <div class="modal-content">
                <h3>Request a demo</h3>
                <form action="#">
                    <label for="name">Full Name *:</label>
                    <input type="text" name="name" id="name" placeholder="e.g. John Doe" required>
                    <label for="email">Email *:</label>
                    <input type="email" name="email" id="email" placeholder="example@company.com" required>
                    <label for="company">Company:</label>
                    <input type="text" name="company" id="company">
                    <button>Send request</button>
                </form>
            </div>
        </div>
    </div>
</div>
