<div class="container">
    <div class="disputes-grid">
        <div class="disputes-item disputes-dark">
            <h3>{{ content.titleLeft }}</h3>
            <div class="disputes-description">
                {{{ wrapParagraph content.descriptionLeft }}}
            </div>
        </div>
        <div class="disputes-item disputes-light">
            <h3>{{ content.titleRight }}</h3>
            <div class="disputes-description">
                {{{ wrapParagraph content.descriptionRight }}}
            </div>
        </div>
    </div>
</div>
